<div class="home__container">
  <div class="home__container__left">
    <div class="home__container__left__button">START</div>
    <div class="home__container__left__button">SHOP</div>
    <div class="home__container__left__button">KEYBINDS</div>
  </div>
  <div class="home__container__right">
    <div class="home__container__right__leaderboard">
      <div class="home__container__right__leaderboard__title"> LEADERBOARD </div>
      <div class="home__container__right__leaderboard__list">
        <div class="home__container__right__leaderboard__bottom__player">
          <div class="home__container__right__leaderboard__bottom__player__rank">1</div>
          <div class="home__container__right__leaderboard__bottom__player__name">Player 1</div>
          <div class="home__container__right__leaderboard__bottom__player__score">100</div>
        </div>
        <div class="home__container__right__leaderboard__bottom__player">
          <div class="home__container__right__leaderboard__bottom__player__rank">1</div>
          <div class="home__container__right__leaderboard__bottom__player__name">Player 1</div>
          <div class="home__container__right__leaderboard__bottom__player__score">100</div>
        </div>
      </div>
    </div>
  </div>
</div>
