<div class="footer__principal">
  <div class="footer__principal__first-section">
    <div class="section-content">
      <div class="section-content__title">
        Organization, text.
      </div>
      <div>© 2025 Organization. Ltd. All Rights Reserved.</div>
    </div>
  </div>
  <div class="footer__principal__second-section">
    <div class="section-content">
      <div class="section-content__title">
        Links to other pages in the website
      </div>
      <div class="section-content__links">
        <div class="section-content__links__link" [routerLink]="['/home']" routerLinkActive="router-link-active">• Home</div>
        <div class="section-content__links__link" [routerLink]="['/about']" routerLinkActive="router-link-active">• About</div>
        <div class="section-content__links__link" [routerLink]="['/business-services']" routerLinkActive="router-link-active">• Services</div>
        <div class="section-content__links__link" [routerLink]="['/contact']" routerLinkActive="router-link-active">• Contact</div>
      </div>
    </div>
  </div>
  <div class="footer__principal__third-section">
    <div class="section-content">
      <div class="section-content__title">Social Media</div>
      <div class="section-content__media">
        <i class="pi pi-facebook section-content__media__icon"></i>
        <i class="pi pi-twitter section-content__media__icon"></i>
        <i class="pi pi-tiktok section-content__media__icon"></i>
        <i class="pi pi-discord section-content__media__icon"></i>
      </div>
    </div>
  </div>
</div>
