<div class="header__principal">
  <div class="header__principal__profile">
    <div class="header__principal__profile-level">0</div>
    <div class="header__principal__profile-status">
      <div>Player</div>
      <div>Newbie</div>
      <div>0/10</div>
    </div>
  </div>
  <div class="header__principal__menu">
    <div class="header__principal__menu__item" style="width: 15%">
      <div class="header__principal__menu__item__submenu__item-icon">
        <i class="pi pi-dollar"></i>
      </div>
      <div class="header__principal__menu__item__submenu__item-value">0</div>
    </div>
    <div class="header__principal__menu__item" style="width: fit-content">
      <i class="pi pi-cog" style="padding: 20px"></i>
    </div>
  </div>
</div>
